package pages

import (
	"github.com/otaxhu/go-htmx-project/internal/web/templates/layouts"
)

templ HomeProducts(title string) {
	@layouts.Layout() {
		<main>
			<nav class="bg-cyan-500 text-white flex justify-between h-10 px-12 py-6 text-lg font-semibold">
				<img src="" alt="logo"/>
				<div class="border-white">
					<a href="#" class="border-b-2 hover:border-b min-h-full">{ title }</a>
				</div>
			</nav>
		</main>
	}
}
