{{define "components/PublishProductForm" -}}

{{- $toastContainerId := UID -}}

<form hx-swap="afterbegin" hx-target="#{{$toastContainerId}}" action="/publish" method="post"
    enctype="multipart/form-data"
    class="flex flex-col gap-4 m-8 border-2 border-slate-800 rounded px-4 py-8 items-center container">

    <h3 class="text-2xl font-semibold my-8">Publica tu producto</h3>

    <div class="text-right flex flex-col flex-wrap justify-center md:flex-row gap-4">

        {{template "components/FormInput" KVM "content" "Nombre" | KVM "fieldName" "name"}}

        {{template "components/FormInput" KVM "content" "Descripcion" | KVM "fieldName" "description"}}

        {{template "components/FormInput" KVM "content" "Imagen" | KVM "fieldName" "image" | KVM "type" "file"}}

    </div>

    <button type="submit"
        class="font-semibold bg-green-300 hover:bg-green-400 active:bg-green-500 active:border-slate-700 text-slate-900 py-4 px-8 rounded-xl">
        Enviar</button>
</form>
<div id="{{$toastContainerId}}" class="flex flex-col gap-3 fixed right-4 bottom-4"></div>
{{- end}}